body{
    margin: 0;
}
.header{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.menu{
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: #dfe8e8;
    line-height: 40px;
}
.menu li {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
    letter-spacing: 5px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
}
.active_menu{
    color: red;
    text-shadow: 2px 2px 2px white;
}
.mobile-menu-btn{
    position: absolute;
    right: 0px;
    
}
.mobile-menu{
    height: 200px;
    width: 150px;
    display: inline-block;
    list-style-type: none;
    background-color: #dfe8e8;
    line-height: 30px;
    position: absolute;
    top: 45px;
    transition: left 1s;
}
.mobile-menu > li{
    font-weight: bold;
    letter-spacing: 5px;

}
.close-btn{
    position: absolute;
    right: 0;
    top: -10px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}